<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Blues Societies</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Listing of 277 Blues Music Societies." />
    <meta name="keywords" content="blues,music,societies,herko" />
    <meta name="author" content="Dean Herko" />    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" target="_self" asp-area="" asp-page="/Index">Blues Societies</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_self" asp-area="" asp-page="/Index">Blues Music Societies</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_self" asp-area="" asp-page="/MapGoogle">Google Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_self" asp-area="" asp-page="/MapEsri">Esri Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_self" asp-area="" asp-page="/BluesQuilt">Logo Quilt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" target="_self" asp-area="" asp-page="/About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2019 - BluesSocieties.WebSite - <a asp-area="" asp-page="/Privacy">Privacy</a>*@
            <p>Last Update: November 26, 2019.</p>
        </div>
        
    </footer>
</body>
</html>
