@page
@model BluesSocieties.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<p>This web site is not affiliated with any blues society. It is a directory to assist blues fans in locating other fans and local blues music. 
    Each blues web site is maintained by the local blues society.</p>


<p>A blues society is a local group of volunteers who promote blues music by the following:</p>
<ul>
    <li>Advocate and sponsor Blues in the Schools. These are music education programs designed to create a deeper appreciation and greater awareness of blues music to the younger generation.</li>
    <li>Publish newsletters, web sites and calendars to inform and educate the public about blues music.  </li>
    <li>Sponsor and host community events such as open blues jams, blues festivals, blues competitions and live music.  </li>
    <li>Join the <a href="http://blues.org" target="_blank">The Blues Foundation</a> in Memphis, Tennessee.</li>
</ul>

