@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p style="vertical-align:top;display:inline-flex">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h2><a class="nav-link text-dark" target="_self" asp-area="" asp-page="/Index">Continue To Blues Music Societies</a></h2>


